html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.show-list {
    text-align: center;
}

/* make purple button rules important so they dont get overwritten */
button.btn.btn-purple,
input[type="submit"].btn.btn-purple,
a.btn.btn-purple {
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: #fff !important;
}

button.btn.btn-purple:hover,
input[type="submit"].btn.btn-purple:hover,
a.btn.btn-purple:hover {
  background-color: #5a32a6 !important;
  border-color: #5a32a6 !important;
  color: #fff !important;
}